
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body >



    <div class="col">

        <div class="row">
            <h1>
                Welcome Dear Admin @ViewBag.UserName
            </h1>
        </div>
        <br />

        <div class="row">
            <button class="btn btn-primary" onclick="ShowTable()">
                Show SearchingLog Table
            </button>
            <a href="@Url.Action("Logout","Home")" class="btn btn-warning" style="float:right; margin-top:30px">Logout</a>
        </div>
        <br />

        <div class="row">
            <table id="searchLogTable" class="display " style="width:100%; visibility:hidden;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>InputText</th>
                        <th>TranslatedText</th>
                        <th>UserName</th>
                        <th>TranslationType</th>
                        <th>CreatedDate</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        $.noConflict();
        $.ajax({
            url: "/Admin/GetSearchLogs",
            method: "GET",
            contentType: 'application/json'

        }).done(function (data) {
            $('#searchLogTable').DataTable({
                "aaData": data,
                "columns": [
                    { "data": "Id" },
                    { "data": "InputText" },
                    { "data": "TranslatedText" },
                    { "data": "UserName" },
                    { "data": "TranslationType" },
                    { "data": "CreatedDate" }
                ]
            })
        })
    })
    function ShowTable() {
        var x = document.getElementById("searchLogTable");
        if (x.style.visibility === "hidden") {
            x.style.visibility = "visible";
        } else {
            x.style.display = "hidden";
        }
    }

</script>




