
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
</script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
<link href="~/assets/styles/css/style-3.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/assets/styles/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

<!-- /css files -->

<body>

    <div class="container-w3layouts  text-center">
        <div class="agileits-logo">
            <h1>
                <a href="@Url.Action("Login","Account")">
                    <span class="fa fa-spinner" aria-hidden="true"></span>Go To Login
                </a>
            </h1>
        </div>
        <h2 class="txt-wthree">error 404</h2>
        <p>
            Looks like the page you are trying to visit does not exist
            <br> Please check the URL and Try again.
        </p>
        <div class="home">
            <a href="@Url.Action("Login","Account")">Go To Login</a>
        </div>
    </div>
</body>

