<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- font files -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <!-- /font files -->
    <!-- css files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body>

    <div class="container-w3layouts  text-center">
        <div class="agileits-logo">
            <h1>
                <a href="index.html">
                    <span class="fa fa-spinner" aria-hidden="true"></span>sleet
                </a>
            </h1>
        </div>
        <h2 class="txt-wthree">error 404</h2>
        <p>
            Looks like the page you are trying to visit does not exist
            <br> Please check the URL and Try again.
        </p>
        <div class="home">
            <a href="index.html">home</a>
        </div>
    </div>
    <div class="w3_agile-footer">
        @*<p>
            &copy; 2017 Sleet. All Rights Reserved | Design by
            <a href="http://w3layouts.com" target="=_blank">W3layouts</a>
        </p>*@
    </div>
</body>
</html>
